<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

<div class="container">
    <div class="row">
        <div class="col-10">
        <input class="form-control" type="text" placeholder="Pesquisa de documentos">
        </div>
        <button class="btn btn-outline-success col-2" type="submit"><i class="bi bi-search"></i>
        </button>
    </div>

    <table class="table">
        <thead>
            <th>Titulo do documento</th>
            <th>
                Data de envio
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    PFC do Serginho
                </td>
                <td>
                    10/12/2022
                </td>
            </tr>
        </tbody>
    </table>
</div> 