<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="register-user.style.css">
<div class="container">
<form class="form">
    <label for="nome">Nome:</label>
    <input class="form-control" type="text" placeholder="Nome" id="nome">
    <label for="nome">Sobrenome:</label>
    <input class="form-control" type="text" placeholder="Sobrenome" id="sobrenome">
    <label for="nome">Data de nascimento:</label>
    <input class="form-control" type="text" placeholder="Data de Nascimento" id="nascimento">
    <label for="nome">Login:</label>
    <input class="form-control" type="text" placeholder="Login" id="login">
    <label for="senha">Senha:</label>
    <input class="form-control" type="password" placeholder="Senha" id="senha">
    <label for="confirmacao-senha">Confirmação de Senha:</label>
    <input class="form-control" type="password" placeholder="Confirmação de Senha" id="confirmacao-senha">
    <div class="row">
        <div class="button col-1">
            <button class="btn btn-outline-success">Cadastrar</button>
        </div>
        <div class="button col-2">
            <button class="btn btn-outline-success">Limpar Formulário</button>
        </div>
    </div>
</form>
</div>